# Import neccessary libraries

In [4]:
import pandas as pd
import mlflow
import pickle
import numpy as np
import matplotlib.pyplot as plt
import mlflow.sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

# Prepare Your Data

In [5]:
df1 = pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\pharma project-6\Pharma-project-6\sales_data.zip")

C:\Users\admin\AppData\Local\Temp\ipykernel_7748\4122061654.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\pharma project-6\Pharma-project-6\sales_data.zip")

In [6]:
df2 = pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\pharma project-6\Pharma-project-6\test.csv")

In [7]:
# Merge test_df with store_df
df = pd.merge(df1, df2, on=['Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday'], how="left")

In [8]:
df

,Unnamed: 0,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id
0,0,1,5,2015-07-31,5263,555,1,1,0,1,NaN
1,1,2,5,2015-07-31,6064,625,1,1,0,1,NaN
2,2,3,5,2015-07-31,8314,821,1,1,0,1,NaN
3,3,4,5,2015-07-31,13995,1498,1,1,0,1,NaN
4,4,5,5,2015-07-31,4822,559,1,1,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1017204,1017204,1111,2,2013-01-01,0,0,0,0,a,1,NaN
1017205,1017205,1112,2,2013-01-01,0,0,0,0,a,1,NaN
1017206,1017206,1113,2,2013-01-01,0,0,0,0,a,1,NaN
1017207,1017207,1114,2,2013-01-01,0,0,0,0,a,1,NaN
1017208,1017208,1115,2,2013-01-01,0,0,0,0,a,1,NaN

In [9]:
df.shape

(1017209, 11)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 11 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     1017209 non-null  int64
 1   Store          1017209 non-null  int64
 2   DayOfWeek      1017209 non-null  int64
 3   Date           1017209 non-null  object
 4   Sales          1017209 non-null  int64
 5   Customers      1017209 non-null  int64
 6   Open           1017209 non-null  int64
 7   Promo          1017209 non-null  int64
 8   StateHoliday   1017209 non-null  object
 9   SchoolHoliday  1017209 non-null  int64
 10  Id             0 non-null        float64
dtypes: float64(1), int64(8), object(2)
memory usage: 85.4+ MB

In [11]:
df.describe()

,Unnamed: 0,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Id
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,0.0
mean,5.086040e+05,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,NaN
std,2.936431e+05,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,NaN
min,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
25%,2.543020e+05,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,NaN
50%,5.086040e+05,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,NaN
75%,7.629060e+05,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,NaN
max,1.017208e+06,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,NaN

In [12]:
df.columns

Index(['Unnamed: 0', 'Store', 'DayOfWeek', 'Date', 'Sales', 'Customers',
       'Open', 'Promo', 'StateHoliday', 'SchoolHoliday', 'Id'],
      dtype='object')

In [13]:
df.isnull().sum()

Unnamed: 0             0
Store                  0
DayOfWeek              0
Date                   0
Sales                  0
Customers              0
Open                   0
Promo                  0
StateHoliday           0
SchoolHoliday          0
Id               1017209
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'df' is your DataFrame containing the data

# Step 1: Convert any numeric values in 'StateHoliday' to strings
df['StateHoliday'] = df['StateHoliday'].astype(str)

# Step 2: Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Step 3: Fit and transform the 'StateHoliday' column
df['StateHoliday_encoded'] = label_encoder.fit_transform(df['StateHoliday'])

# Step 4: Convert the encoded column to integer type
df['StateHoliday_encoded'] = df['StateHoliday_encoded'].astype(int)

# Step 5: Optionally, you may drop the original 'StateHoliday' column
df.drop(columns=['StateHoliday'], inplace=True)

# Display the DataFrame to confirm the changes
print(df.head())

   Unnamed: 0  Store  DayOfWeek        Date  Sales  Customers  Open  Promo  \
0           0      1          5  2015-07-31   5263        555     1      1
1           1      2          5  2015-07-31   6064        625     1      1
2           2      3          5  2015-07-31   8314        821     1      1
3           3      4          5  2015-07-31  13995       1498     1      1
4           4      5          5  2015-07-31   4822        559     1      1

   SchoolHoliday  Id  StateHoliday_encoded
0              1 NaN                     0
1              1 NaN                     0
2              1 NaN                     0
3              1 NaN                     0
4              1 NaN                     0

In [15]:
# Drop unnecessary columns
df.drop(columns=['Unnamed: 0', 'Id'], inplace=True)

In [16]:
from sklearn.impute import SimpleImputer

# Define columns with missing values
numeric_cols = ['Sales', 'Customers']
categorical_cols = ['Store', 'DayOfWeek', 'Promo', 'SchoolHoliday']

# Impute missing values for numeric columns
imputer = SimpleImputer(strategy='mean')
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

# Fill missing values for categorical columns with mode
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_7748\2099656834.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7748\2099656834.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7748\2099656834.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7748\2099656834.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [17]:
# Feature Engineering with Dates
# Convert 'Date' from object to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extract year, month, day from 'Date'
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

# Optionally, you can also extract other components like day of week and whether it's the end of the month, etc.
# Note: 'DayOfWeek' might already represent this information, so this step may be redundant or used for cross-checking.
df['DayOfWeek'] = df['Date'].dt.dayofweek  # Overwriting the existing 'DayOfWeek' if you prefer datetime's version
df['WeekOfYear'] = df['Date'].dt.isocalendar().week
df['IsMonthEnd'] = df['Date'].dt.is_month_end.astype(int)  # Convert boolean to int (True to 1, False to 0)

# Now drop the original 'Date' column as it's no longer needed
df.drop('Date', axis=1, inplace=True)

In [18]:
# Preprocess categorical variables using one-hot encoding
categorical_columns = df.select_dtypes(include=['object']).columns
df = pd.get_dummies(df, columns=categorical_columns)

# Handle missing values (if any)
df.fillna(0, inplace=True)  # Filling missing values with 0, assuming it's appropriate for your dataset

In [19]:
from sklearn.model_selection import train_test_split

from sklearn.model_selection import train_test_split

# Split the dataset into features and target variable
X = df.drop(columns=['Sales'])  # Features
y = df['Sales']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train and Log the Model with MLflow

In [20]:
# Step 1: Import necessary libraries
import mlflow
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Step 2: Split the dataset into features and target variable
X = df.drop(columns=['Sales'])  # Features
y = df['Sales']  # Target variable

# Step 3: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Initialize MLflow experiment
mlflow.set_experiment("Sales_Prediction")

# Step 5: Start MLflow run and train the model
with mlflow.start_run() as run:
    # Step 6: Train Linear Regression model
    lr_model = LinearRegression()
    lr_model.fit(X_train, y_train)
    
    # Step 7: Make predictions on the test set
    lr_predictions = lr_model.predict(X_test)
    
    # Step 8: Calculate Mean Squared Error
    lr_mse = mean_squared_error(y_test, lr_predictions)
    
    # Step 9: Log parameters and metrics
    mlflow.log_param("model_type", "LinearRegression")
    mlflow.log_metric("mse", lr_mse)
    
    # Step 10: Log the trained model
    mlflow.sklearn.log_model(lr_model, "linear_regression_model")

In [21]:
import pickle

# Step 11: Save the trained model using pickle
with open("linear_regression_model.pkl", "wb") as f:
    pickle.dump(lr_model, f)

In [22]:
# Load the saved Linear Regression model from the pickle file
with open("linear_regression_model.pkl", "rb") as f:
    loaded_model = pickle.load(f)

# Example: Evaluate model performance (calculate MSE on test data)
y_pred = loaded_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

# Log the MSE metric to MLflow
with mlflow.start_run():
    mlflow.log_metric("mse", mse)

# Example: Create a residual plot
residuals = y_test - y_pred
plt.scatter(y_pred, residuals)
plt.axhline(y=0, color='r', linestyle='-')
plt.xlabel('Predicted Values')
plt.ylabel('Residuals')
plt.title('Residual Plot')
plt.savefig("residual_plot.png")  # Save the plot
plt.close()

# Log the residual plot to MLflow
with mlflow.start_run():
    mlflow.log_artifact("residual_plot.png", artifact_path="plots")

In [23]:
# Example: For Linear Regression, coefficients represent feature importance
feature_importance = loaded_model.coef_
print("Feature Importance:")
for i, coef in enumerate(feature_importance):
    print(f"Feature {i+1}: {coef}")
    mlflow.log_param(f"feature_{i+1}_importance", coef)

Feature Importance:
Feature 1: -0.1487664090047732
Feature 2: -73.54862113173964
Feature 3: 6.039733800034938
Feature 4: 1559.0431228175187
Feature 5: 1270.7123395748326
Feature 6: 40.24143590910237
Feature 7: -371.2841902528772
Feature 8: 144.32410082117923
Feature 9: 26.23003640182253
Feature 10: -3.0744573806309607
Feature 11: 2.4922607878738856
Feature 12: 657.4678816518906

In [24]:
# This could involve documenting details such as data preprocessing steps, model architecture, and evaluation metrics
model_details = {
    "model_type": "Linear Regression",
    "preprocessing_steps": "No preprocessing was applied",
    "evaluation_metric": "Mean Squared Error (MSE)"
}
print("Model Training Process:")
for key, value in model_details.items():
    print(f"{key}: {value}")

Model Training Process:
model_type: Linear Regression
preprocessing_steps: No preprocessing was applied
evaluation_metric: Mean Squared Error (MSE)

In [25]:
# Example: Visualize predicted values against actual values
plt.scatter(y_test, loaded_model.predict(X_test))
plt.xlabel('Actual Sales')
plt.ylabel('Predicted Sales')
plt.title('Actual vs. Predicted Sales')
plt.savefig("actual_vs_predicted_sales.png")  # Save the plot
plt.close()

# Log the plot as an artifact with MLflow
mlflow.end_run()  # End the current run, if any
with mlflow.start_run():
    mlflow.log_artifact("actual_vs_predicted_sales.png", artifact_path="plots")

In [26]:
# Calculate errors
errors = y_test - loaded_model.predict(X_test)
mean_error = errors.mean()
max_error = errors.max()
min_error = errors.min()

# Log errors with MLflow
mlflow.end_run()  # End the current run, if any
with mlflow.start_run():
    mlflow.log_metric("mean_error", mean_error)
    mlflow.log_metric("max_error", max_error)
    mlflow.log_metric("min_error", min_error)

# Print errors
print("Mean Error:", mean_error)
print("Maximum Error:", max_error)
print("Minimum Error:", min_error)

Mean Error: -3.2156983109334987
Maximum Error: 29110.67601235211
Minimum Error: -20213.717539532692

In [27]:
df.to_csv('mlflow_dataset.csv')

In [28]:
# For demonstration purposes, we'll print a message indicating that experiment tracking is being used
print("\nExperiment results are being tracked using MLflow or other experiment tracking tools.")

Experiment results are being tracked using MLflow or other experiment tracking tools.

# Predictions

In [29]:
import mlflow
logged_model = 'runs:/c0a9015fafbd4bd0b13225dc6934e68f/linear_regression_model'

# Load model as a PyFuncModel.
loaded_model = mlflow.pyfunc.load_model(logged_model)

In [30]:
# Make predictions using the loaded model
predictions = loaded_model.predict(X_test)

# Print the predictions
print(predictions)

[   44.35557092  7206.68169121  8522.92285209 ...  4091.1560226
    21.06142582 13117.4206305 ]

In [31]:
from sklearn.metrics import mean_squared_error

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, predictions))

In [32]:
rmse

1472.0885628746835

In [33]:
import mlflow
import mlflow.sklearn
import numpy as np

# Start MLflow run
with mlflow.start_run():

    # Log parameters
    mlflow.log_param("model", "linear_regression")
    mlflow.log_param("test_size", 0.2)
    mlflow.log_param("random_state", 42)

    # Log evaluation metrics
    mlflow.log_metric("mse", mse)
    mlflow.log_metric("mae", mean_absolute_error(y_test, predictions))  # Calculate MAE inline
    mlflow.log_metric("rmse", rmse)

    # Visualize predicted vs actual sales and log as an artifact
    plt.scatter(y_test, predictions)
    plt.xlabel('Actual Sales')
    plt.ylabel('Predicted Sales')
    plt.title('Actual vs. Predicted Sales')
    plt.savefig("actual_vs_predicted_sales.png")  # Save the plot as an artifact
    plt.close()  # Close the plot to prevent it from being displayed in the notebook
    mlflow.log_artifact("actual_vs_predicted_sales.png", artifact_path="plots")

    # Visualize residuals and log as an artifact
    plt.scatter(predictions, residuals)
    plt.axhline(y=0, color='r', linestyle='-')
    plt.xlabel('Predicted Sales')
    plt.ylabel('Residuals')
    plt.title('Residual Plot')
    plt.savefig("residual_plot.png")  # Save the plot as an artifact
    plt.close()  # Close the plot to prevent it from being displayed in the notebook
    mlflow.log_artifact("residual_plot.png", artifact_path="plots")

    # Identify outliers and log the count
    outlier_threshold = 3 * np.std(residuals)
    outliers = np.abs(residuals) > outlier_threshold
    num_outliers = np.sum(outliers)
    mlflow.log_metric("num_outliers", num_outliers)

    # Log the model itself
    mlflow.sklearn.log_model(loaded_model, "model")

c:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:11: UserWarning: Distutils was imported before Setuptools, but importing Setuptools also replaces the `distutils` module in `sys.modules`. This may lead to undesirable behaviors or errors. To avoid these issues, avoid using distutils directly, ensure that setuptools is installed in the traditional way (e.g. not an editable install), and/or make sure that setuptools is always imported before distutils.
  warnings.warn(
c:\Users\admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\_distutils_hack\__init__.py:26: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")